<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

 <body>

<h1>{{title}}</h1>

<h5 id="hint">(Extra Functionality: Try leaving some fields blank, using negative numbers, having a discount over 100%, or inputting a string and hitting "Calculate", see what happens!)</h5>
   

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
     <h5>Input the Item's Original Price: </h5> 
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Dollars ($)</span>
    </div>
    <input #input1 type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="">
  </div>
  </div>
<div class="col-md-1">

</div>
</div>
 
  
<!-- <input #input1 type="number" value="price"> -->

<!-- <h4>Price: {{price}}</h4> -->

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
     <h5>Input the Item's discount: </h5> 
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Discount (%)</span>
    </div>
    <input #input2 type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="">
  </div>
  </div>
<div class="col-md-1">

</div>
</div>


<!-- <h4>Discount: {{discount}}</h4> -->
<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="calculate(input1.value,input2.value)">Calculate</button>
  </div>
  <div class="col-md-1">
  </div>
</div>

<h2>{{result}}</h2>

 </body>