h1{
    background-color: darkgreen;
    background-position: center;
    color: white;
    padding: 30px 30px;
    text-shadow: 2px 2px black;
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 0;
}
body{
    background-color: rgb(182, 214, 176);
    min-height: 100%;
    padding-bottom: 40px;
    border-bottom: 3px solid black;
}

h5{
    padding: 20px 0px;
}
h2{
    text-align: center;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(255, 255, 255);
}
button{
    display: block;
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    background-color: rgb(21, 139, 84);
    border: 1px  rgb(46, 196, 126);
}
button:hover{
    display: block;
    font-size: 41px;
    transition: 0.3s;
    background-color: rgb(46, 196, 126);
    border: rgb(255, 255, 255) 1px;
}
button:selected{
    display: block;
    font-size: 41px;
    transition: 0.3s;
    background-color: rgb(46, 196, 126);
    border: rgb(255, 255, 255) 1px;
}
#input1:selection{
    border: solid green 1px;
}
#hint{
    color: rgb(185, 15, 15);
    text-align: center;
    text-shadow: 1px 1px white;
}